{% extends "Default.twig" %}
{% block title %}{{ blog.title }}{% endblock %}
{% block page %}

<h1>{{ blog.title }}</h1>
<time class="h4" datetime="{{resource.created|date("Y-m-d")}}">
            {{blog.created|date("D jS F Y")}}</time>

    {% markdown %}
        {{ blog.fields.body.value }}
    {% endmarkdown %}

    {% include "toos/disqus.twig" %}


{% endblock %}